@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.postList {
  margin-top: 2rem;
  width: fit-content;
  max-width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  overflow-x: scroll;
}
