@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.postCard {
  background-color: transparent;
  appearance: none;
  border: none;
  cursor: pointer;
  background-color: $secondaryColor;
  text-decoration: none;
  padding: 3rem 6rem;

  h3 {
    color: $white;
    transition: 0.3s;
  }

  &:hover {
    h3 {
      transform: scale(1.2, 1.2);
    }
  }
}
